@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee-text-top,
.marquee-text-bottom {
  background: rgba(54, 148, 56, 0.574);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}
// TEXT INPUTS
.input-container {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem;
  margin-bottom: 16px;
  .label {
    margin-bottom: 0.25rem;
    display: block;
  }
  .input {
    width: 100%;
    margin-top: 0.25rem;
    display: block;
    border-radius: 0.375rem; /* 6px */
    border: 1px solid rgb(229 231 235);
    background: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.75rem; /* 12px */
    line-height: 1rem;

    &:focus {
      outline: none;
    }
    &[data-invalid="true"]:not(:focus),
    &:focus[data-invalid="true"] {
      border: 1px solid rgb(239 68 68);
    }

    &:focus:not([data-invalid="true"]) {
      border: 1px solid rgb(23 23 23);
    }

    // DISABLED INPUT
    &:disabled {
      background: rgb(249 250 251);
      color: rgb(107 114 128);
      cursor: not-allowed;
    }
    //=== DISABLED INPUT=====

    &::placeholder {
      color: rgb(156 163 175);
    }

    // ===CHECKBOX===
    &[type="checkbox"] {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
      & ~ label {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        &:before {
          content: "";
          background-color: transparent;
          border: 2px solid #aaa;
          border-radius: 5px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
            inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          width: 18px;
          height: 18px;
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
          margin-right: 5px;
          transition: 0.2s background ease-in-out, 0.1s box-shadow ease-in-out;
        }
      }
      &:checked ~ label:before {
        background: #ffffff;
        border: 2px solid rgba(170, 170, 170, 0.541);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
          0 0 0 4px rgba(41, 40, 41, 0.13);
      }

      &:checked ~ label::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 8px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 #0a0525, 4px 0 0 #0a0525, 4px -2px 0 #0a0525,
          4px -4px 0 #0a0525, 4px -6px 0 #0a0525, 4px -8px 0 #0a0525,
          4px -2px 0 #0a0525;
        transform: rotate(45deg);
      }
    }
    &[type="file"] {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }
      &[data-invalid="true"]:not(:focus),
      &:focus[data-invalid="true"] ~ label {
        border: 1px solid rgb(239 68 68);
      }

      &:focus:not([data-invalid="true"]) ~ label {
        border: 1px solid rgb(23 23 23);
      }

      // DISABLED INPUT
      &:disabled ~ label {
        background: rgb(249 250 251);
        color: rgb(107 114 128);
        cursor: not-allowed;
      }
      //=== DISABLED INPUT=====

      &::placeholder {
        color: rgb(156 163 175);
      }

      & ~ label {
        position: relative;
        cursor: pointer;
        margin-top: 0.25rem;
        display: block;
        border-radius: 0.375rem; /* 6px */
        border: 1px solid rgb(229 231 235);
        background: #fff;
        padding: 0.5rem 1rem;
        font-size: 0.75rem; /* 12px */
        line-height: 1rem;
      }
    }
    // ===/CHECKBOX===

    // ===RADIO===
    &[type="radio"] {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;

      & ~ label {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-family: "Roboto";
        &:before {
          content: "";
          background-color: transparent;
          border: 2px solid #aaa;
          border-radius: 50%;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
            inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          width: 19px;
          height: 19px;
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
          margin-right: 5px;
          transition: 0.2s background ease-in-out, 0.1s box-shadow ease-in-out;
        }
      }
      &:checked ~ label:before {
        background: #fff;
        border: 2px solid #174a84;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
          0 0 0 4px rgba(41, 40, 41, 0.13);
      }

      &:checked ~ label::after {
        content: "";
        position: absolute;
        left: 7px;
        top: 7px;
        background: #174a84;
        width: 9px;
        height: 9px;
        border-radius: 50%;
      }
    }
    // ===/RADIO===
  }
}
.error {
  color: rgb(239 68 68);
}
@media (min-width: 640px) {
  .input-container {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    .input {
      border-radius: 0.5rem; /* 8px */
    }
  }
}
// TEXT INPUTS

//===BUTTON====
.button {
  outline: none;
  border: none;
  padding: 8px 16px;
  background: rgb(23, 74, 132);
  border-radius: 7px;
  color: #fff;
  font-family: medium;

  &:disabled {
    opacity: 0.7;
    color: rgb(202, 206, 215);
    cursor: not-allowed;
  }
  &[type="submit"] {
    cursor: pointer;
  }
}
//===/BUTTON====
.scroller {
  max-width: 1300px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

html {
  color-scheme: dark;
}

body {
  display: grid;
  min-block-size: 100vh;
  place-content: center;
  font-family: system-ui;
  font-size: 1.125rem;
  background-color: var(--clr-primary-800);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}
